<div class="container">
  <h1>Add a Payment Method</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <label>ID</label>
      <input
        type="text"
        class="form-control"
        ngModel
        name="id"
        required
      />

      <label>Payment Method</label>
      <input
        type="text"
        class="form-control"
        ngModel
        name="method"
        required
      />
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
  </form>
</div>




