<div class="container">
  <h1>Provide purchase details below to deduct money from an envelope and generate a reciept for that purchase</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
<label>ID</label>
  <input
    type="text"
    class="form-control"
    ngModel
    name="id"
    required
  />

  <label>Amount</label>
  <input
    type="text"
    class="form-control"
    ngModel
    name="amount"
    required
  />

  <label>Category</label>
  <input
    type="text"
    class="form-control"
    ngModel
    name="category"
    required
  />

  <label>Date</label>
  <input
    type="text"
    class="form-control"
    ngModel
    name="date"
    required
  />

  <label>Description</label>
  <input
    type="text"
    class="form-control"
    ngModel
    name="description"
  />

  <label>Payment Method</label>
  <input
  type="text"
  class="form-control"
  ngModel
  name="paymentMethod"
  required
  />

  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>


</form>
</div>
