<h1>Add a category</h1>


  <label>Category</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)] ="category"
    name="category"
  />

  <label>Amount</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)] ="amount"
    name="amount"
  />

<button (click)="onAddCategory()">Add Category</button>

<hr>

<h1>Select a category</h1>

<div class="list-group">
  <a
    [routerLink]="['/categories', category.id]"
    class="list-group-item"
    *ngFor="let category of categories">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ category.category }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ category.amount }}</h6>
      </div>
    </div>
  </a>
</div>

<hr>

<router-outlet></router-outlet>





<!-- <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Category</label>
    <input formControlName="category" />
    <!-- <div>Error pertaining to category: {{ categoryForm.controls.category.errors | json }}</div> -->
    <!-- <ng-container
      *ngIf="
        categoryForm.controls.category.touched &&
        categoryForm.controls.category.errors">
        <div *ngIf="categoryForm.controls.category.errors.required">Value is required</div>
        <div *ngIf="categoryForm.controls.category.errors.minlength">Minimum length of 5 characters is required</div>
    </ng-container>
  </div>
<hr>
  <div>
    <label>Amount</label>
    <input formControlName="amount" />
    <div>Error pertaining to amount: {{ categoryForm.controls.amount.errors | json }}</div>
  </div>
  <button [disabled]="categoryForm.invalid" type="submit">Submit</button>
</form> -->

<!-- <hr>
<div>Form Contents: {{ categoryForm.value | json }}</div>
<br>
<div>Form Contents valid: {{ categoryForm.valid }}</div> -->
