<app-card
  *ngFor="let category of categories"
  [category]="category"
></app-card>


  <label>Category</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)] ="category"
    name="category"
  />

  <label>Amount</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)] ="amount"
    name="amount"
  />

<button (click)="onAdd">Add Category</button>


<!-- <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Category</label>
    <input formControlName="category" />
    <!-- <div>Error pertaining to category: {{ categoryForm.controls.category.errors | json }}</div> -->
    <!-- <ng-container
      *ngIf="
        categoryForm.controls.category.touched &&
        categoryForm.controls.category.errors">
        <div *ngIf="categoryForm.controls.category.errors.required">Value is required</div>
        <div *ngIf="categoryForm.controls.category.errors.minlength">Minimum length of 5 characters is required</div>
    </ng-container>
  </div>
<hr>
  <div>
    <label>Amount</label>
    <input formControlName="amount" />
    <div>Error pertaining to amount: {{ categoryForm.controls.amount.errors | json }}</div>
  </div>
  <button [disabled]="categoryForm.invalid" type="submit">Submit</button>
</form> -->

<!-- <hr>
<div>Form Contents: {{ categoryForm.value | json }}</div>
<br>
<div>Form Contents valid: {{ categoryForm.valid }}</div> -->
