<div class="container" style="margin-top:40px;">
  <h1 style= "text-align:center">Make a Purchase</h1>
   <form (ngSubmit)="onSubmit()" #f="ngForm">

       <label>How much are you spending?</label>
       <input
         type="text"
         class="form-control"
         ngModel
         name="amount"
         required
       />
       <br>

       <label>Which envelope is this money coming from?</label>
       <select
         class="form-control"
         ngModel
         name="category"
         value=""
         required>
         <option [defaultSelected]=true [value]="default" >{{default}}</option>
         <option *ngFor ="let envelope of envelopes">{{ envelope.category }}</option>
       </select>
       <br>

       <label>What is the purchase date?</label>
       <input
         type="date"
         class="form-control"
         ngModel
         name="date"
         required
       />
       <br>

       <label>Provide a short description for your purchase</label>
       <input
         type="text"
         class="form-control"
         ngModel
         name="description"
         required
       />
       <br>

       <label>Which payment method are you using to make the purchase?</label>
       <select
         class="form-control"
         ngModel
         name="paymentmethod"
         value=""
         required>
         <option [defaultSelected]=true [value]="default" >{{default}}</option>
         <option *ngFor ="let pm of paymentMethods">{{ pm.method }}</option>
        </select>
       <br>


      <button class="btn btn-primary" type="submit" >Submit</button>
 </form>
 </div>

 <!-- [disabled]="!f.valid" -->


