<!-- <div class="list-group">
  <a
    [routerLink]="['/paymentmethods', paymentMethod.id]"
    class="list-group-item"
    *ngFor="let paymentMethod of paymentMethods">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ paymentMethod.method }}</h5>
      </div>
      <div>
        <button btn-btn primary (click)="onDelete()">Delete</button>
      </div>
      <div>
        <button btn-btn primary (click)="onViewReciepts()">Receipts</button>
      </div>
    </div>
  </a>
</div> -->

<div class="container">
  <h1>All Payment Methods</h1>
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <app-payment-method-item
        *ngFor="let paymentMethodEl of paymentMethods; let i = index"
        [paymentMethod]="paymentMethodEl"
        [index]="i"></app-payment-method-item>
    </div>
  </div>
</div>
