<h1>View all receipts associated with a particular payment or delete a payment method.  Beware, deleting a payment method will delete all of it's associated receipts</h1>

<div class="list-group">
  <a
    [routerLink]="['/paymentmethods', paymentMethod.id]"
    class="list-group-item"
    *ngFor="let paymentMethod of paymentMethods">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ paymentMethod.method }}</h5>
      </div>
      <div>
        <button btn-btn primary (click)="onDelete()">Delete</button>
      </div>
      <div>
        <button btn-btn primary (click)="onViewReciepts()">Receipts</button>
      </div>
    </div>
  </a>
</div>

<hr>
