<h1>Delete receipts you no longer need</h1>

<div class="list-group">
  <a
    [routerLink]="['/transactions', transaction.id]"
    class="list-group-item"
    *ngFor="let transaction of transactions">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ transaction.amount }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ transaction.category }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ transaction.date }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ transaction.type }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ transaction.description }}</h6>
      </div>
      <div>
        <button btn-btn primary (click)="onDelete()">Delete</button>
      </div>
    </div>
  </a>
</div>

<hr>

<router-outlet></router-outlet>
