<div class="card" style="width: 400px; margin-top: 20px;">
  <div class="card-body"
    style="cursor: pointer;">
    <h5 class="card-title">{{ paymentMethod.method }}</h5>
    <div>
      <button class="btn btn-primary"
      (click)="onShowReciepts()"
      >receipts</button>
    </div>
    <div>
      <button class="btn btn-danger"
      (click)="onDelete()"
      >Delete</button>
    </div>
  </div>
</div>

<!-- <div class="list-group" style="width:400px; margin-top: 20px;">
  <div class="card" style="width: 400px;">
    <div class="card-body"
      style="cursor: pointer;"

      class="list-group-item clearfix">
      <h5 class="card-title">{{ paymentMethod.method }}</h5>
      <div>
        <button class="btn btn-primary"
        (click)="onShowReciepts()"
        >receipts</button>
      </div>
      <div>
        <button class="btn btn-danger"
        (click)="onDelete()"
        >Delete</button>
      </div>
    </div>
  </div>
</div> -->
