
  <!-- <a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ envelope.category }}</h4>
    <p class="list-group-item-text">{{ envelope.amount }}</p>
  </div>
</a> -->

<div>
  <div class="list-group">
    <div class="list-group-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body"
          style="cursor: pointer;"

          class="list-group-item clearfix">
          <h5 class="card-title">{{ envelope.category }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ envelope.amount | currency }}</h6>
          <div>
            <button class="btn btn-primary"
            (click)="onShowReciepts()"
            >receipts</button>
          </div>
          <div>
            <button class="btn btn-success"
            (click)="onAddMoney()"
            >Add money</button>
          </div>
          <div>
            <button class="btn btn-danger"
            (click)="onDelete()"
            >Delete</button>
          </div>
          <div>
            {{ purchases }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

