<h1>Virtual Envelopes</h1>
<p>Want to manage your money the Dave Ramsey way, but you don't feel comfortable carrying around a lot of cash?</p>
<p>Use Virtual Envelopes to manage your money without fear of it getting lost or stolen.</p>
<p>Step 1- Create your spending category envelopes and put money in them.  You can change your envelope categories anytime you want and add money to your envelopes anytime you want to.</p>
<p>Whenever you make a purchase, a receipt for your purchase is placed in the envelope the money came from.  You can keep your receipts for as long as you want to.  Some people use their receipts to identify spending habits.  Others may use them to reconcile credit card statements.  Delete them when you don't need them anymore.</p>
<p>Because your envelopes and the money inside of them are virtual you can make a purchase using any payment method you want.  You don't have to just use cash.</p>
<p>Step 2- Add whatever payment methods you frequently use for your purchases.</p>
<p>Step 3- Be sure to document your purchases as you make them to keep your envelope balances current at all times.</p>
