<div class="container">
  <h1>Virtual Envelopes</h1>
  <p>Want to manage your money the Dave Ramsey way, but you don't feel comfortable carrying around a lot of cash?</p>
  <p>Use Virtual Envelopes to manage your money without the fear of losing your cold hard cash.</p>
  <div>
    <button data-bs-toggle="collapse" data-bs-target="#step1" class="btn btn-info">Step 1</button>
    <div id="step1" class="collapse">
      <div style="margin-top: 20px;">
        Create envelopes to represent each of your spending categories and then put money in them.
      You can change your envelope categories at anytime or add or deduct money from an envelope at anytime.
      </div>
    </div>
  </div>
<br>
<div>
  <button data-bs-toggle="collapse" data-bs-target="#step2" class="btn btn-info">Step 2</button>
    <div id="step2" class="collapse">
      <div style="margin-top: 20px;">
        Tell Virtual Envelopes which payment methods you frequently use for your purchases.
        Because your envelopes and the money inside of them are virtual you can make a purchase using any payment method you want.
        You don't have to just use cash.
      </div>
    </div>
</div>
<br>
<div>
  <button data-bs-toggle="collapse" data-bs-target="#step3" class="btn btn-info">Step 3</button>
    <div id="step3" class="collapse">
      <div style="margin-top: 20px;">
        Buy Something!  Whenever you make a purchase, document it and a receipt will be placed in the envelope that the money came from.
        You can keep your receipts for as long as you want.  Some people use their receipts to identify spending habits.
        Others may use them to reconcile credit card or bank statements.  Delete them when you don't need them anymore.
      </div>
    </div>
</div>
<br>
<div>
  <button data-bs-toggle="collapse" data-bs-target="#step4" class="btn btn-info">Step 4</button>
    <div id="step4" class="collapse">
      <div style="margin-top: 20px;">
        View your envelope balances frequently and before each purchase to ensure that you have enough money available to make your purchase.
        If you do, great!  If you don't, don't make your purchase!  It's that easy.
      </div>
    </div>
</div>
</div>
