<div class="container">
  <h1>Virtual Envelopes</h1>
  <p>Want to manage your money the Dave Ramsey way, but you don't feel comfortable carrying around a lot of cash?</p>
  <p>Use Virtual Envelopes to manage your money without fear of it getting lost or stolen.</p>
  <p>Step 1- Create an envelope to represent each of your spending categories. Then, put money in them.  You can change your envelope categories anytime you want and add money to your envelopes anytime you want to.</p>
  <p>Step 2- Tell VE which payment methods you frequently use for your purchases.  Because your envelopes and the money inside of them are virtual you can make a purchase using any payment method you want.  You don't have to just use cash.</p>
  <p>Step 3- Buy Something!  Whenever you document a purchase, a receipt will be placed in the envelope the money came from.  You can keep your receipts for as long as you want.  Some people use their receipts to identify spending habits.  Others may use them to reconcile credit card statements.  Delete them when you don't need them anymore.</p>

</div>
