<h1>Tell us what spending category this envelope will represent and how much money it will initially hold</h1>

<label>ID</label>
<input
  type="text"
  class="form-control"
  [(ngModel)] ="id"
  name="id"
/>

  <label>Category</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)] ="category"
    name="category"
  />

  <label>Amount</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)] ="amount"
    name="amount"
  />

<button (click)="onAddEnvelope()">Add Envelope</button>
