

<div class="container">
 <h1>Create an Envelope</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <label>ID</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="id"
      required
    />

      <label>What spending category will this envelope represent?</label>
      <input
        type="text"
        class="form-control"
        ngModel
        name="category"
        required
      />

      <label>How much money will you put in this envelope?</label>
      <input
        type="text"
        class="form-control"
        ngModel
        name="amount"
        required
      />


    <!-- <button (click)="onAddEnvelope()">Add Envelope</button> -->
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
    <!-- <div *ngIf="submitted">
      <p>{{ id }}</p>
      <p>{{ category }}</p>
      <p>{{ amount }}</p>
    </div> -->

</form>
</div>


