<!-- <div class="list-group-item">
  <div class="card" style="width: 18rem;">
    <div class="card-body"
      style="cursor: pointer;"

      class="list-group-item clearfix">
      <h5 class="card-title">{{ purchase.amount | currency }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ purchase.category }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ purchase.date }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ purchase.description }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{ purchase.paymentmethod }}</h6>
      <div>
        <button class="btn btn-primary" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div> -->

<div class="card" style="width:400px; margin-top: 20px;">
  <img src="assets/receipt1.jpg" alt="receipt" width="400" height="500">
  <div class="card-img-overlay">
    <h1 class="card-title" style="text-align:center; margin-top: 100px;">{{ purchase.date }}</h1>
    <h2 class="card-text" style="text-align:center">{{ purchase.category }}</h2>
    <h2 class="card-text" style="text-align:center">{{ purchase.amount | currency }}</h2>
    <h3 class="card-text" style="text-align:center">{{ purchase.paymentmethod }}</h3>
    <h3 class="card-text" style="text-align:center">{{ purchase.description }}</h3>
    <!-- <div>
      <button class="btn btn-primary"
      (click)="onShowReciepts()"
      >receipts</button>
    </div>
    <div>
      <button class="btn btn-success"
      (click)="onAddMoney()"
      >Add money</button>
    </div>
    <div>
      <button class="btn btn-danger"
      (click)="onDelete()"
      >Delete</button>
    </div>
  </div> -->
</div>


