<div class="card" style="width:400px; margin-top: 50px; border: none!important;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEkL1tylr7GOCeJJoRg31-Enp-uJP1L_J_Mu-DxkOAH126Is5iPTgxZb8Tyjx20cNlEj4&usqp=CAU" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title" style="text-align:center; margin-top: 20px;">{{ purchase.date }}</h1>
    <h2 class="card-text" style="text-align:center">{{ purchase.category }}</h2>
    <h2 class="card-text" style="text-align:center">{{ purchase.amount | currency }}</h2>
    <h3 class="card-text" style="text-align:center">{{ purchase.paymentmethod }}</h3>
    <h3 class="card-text" style="text-align:center">{{ purchase.description }}</h3>
    <div>
      <button class="btn btn-danger"
      (click)="onDelete()"
      >Delete</button>
    </div>
  </div>
</div>
